<nav>
    <ul>
        <li><a routerLink="/saludo">Saludo</a></li>
        <li><a routerLink="/reloj">Reloj</a></li>
        <li><a routerLink="/listaDeTareas">Lista de tareas</a></li>
        <li><a routerLink="/temporizador">Temporizador</a></li>
        <li><a routerLink="/comentarios">Comentarios</a></li>
        <li><a routerLink="/productos">Lista de productos</a></li>
        <li><a routerLink="/calculadora">Calculadora</a></li>
        <li><a routerLink="/carrito">Carrito</a></li>
    </ul>
</nav>